[2016-12-15 10:43] MechWOLLIer opened #1 "All Uplay games aren't starting"
It seems that there is a general bug with all Uplay games and OCAT. As long as OCAT is open and in "Start" mode, not a single Uplay game is loading at all. Most times even the PC hangs. Is just the programm open and OCAT not startet, everything is fine.

Than it's also possible to start OCAT after the game and the game runs fine. Also OCAT is working in this case, but without the overlay.

[2017-01-02 23:30] criticaldany commented on #1
I tried with Uplay, Steam and Origin games, non work, i disabled every overlay option on all 3 platforms and i cant get it to show up the overlay, it records and gives me the log but no overlay.

[2017-01-18 03:17] SrgntBallistic commented on #1
I can confirm that many games launched from a DRM application don't work with the OCAT overlay. I have had success with some games though.

Here's a video outlining some of my experience.

https://www.youtube.com/watch?v=Is4DaAUYdNA

[2017-01-20 19:01] mirh opened #2 "Source code?"
The O in OCAT means [open](http://images.anandtech.com/doci/10894/Radeon%20Software%20Crimson%20ReLive%20%5BNDA%20Only%20-%20Confidential%5D%20v6-page-013.jpg), but where is source code?

[2017-01-31 16:52] rdeleonp opened #3 "Is this project dead?"
There are 2 previous opened issues, no responses at the moment.

No source releases.

What gives? Is this project dead?

[2017-02-09 15:53] Anteru commented on #3
No, this project is still active and we hope to be sharing updates with the community soon.

[2017-02-09 16:22] yekrutdloc commented on #2
https://github.com/GPUOpen-Tools/OCAT/releases

The source is available here

[2017-02-09 16:25] yekrutdloc commented on #3
@Anteru Sounds great, any eta on when the next update might come? Also, would love it if the "Start" and "Stop" functionality of the application could be mapped to a key like the logging feature, or it should be on as default.

[2017-02-09 17:46] mirh commented on #2
Mhh.. no.

[2017-02-09 18:21] M4RK22 commented on #2
It's not available yet. There are readme files only. They will release later.

[2017-02-27 08:48] soararing opened #4 "OCAT cannot display FPS info with latest steam Vulkan games DOOM and The Talos Principle"
OCAT cannot display FPS info with latest steam Vulkan games DOOM and The Talos Principle

It can work with Dota2 well.

[2017-04-13 12:44] #2 closed

[2017-04-14 00:02] jarredwalton opened #6 "UPlay games refuse to launch"
The OCAT executable DLLInjector32.exe appears to fail (DRM most likely?) and this results in a couple hundred or so instances of DLLInjector32.exe and Conhost.exe in task manager. It totally bogs down the system for a minute or so, but the UPlay game never launches. I have verified this problem with The Division, Far Cry Primal, and Ghost Recon Wildlands.

If it's DRM-related (which seems likely),

[2017-04-14 00:03] #6 closed

[2017-04-14 00:03] jarredwalton commented on #1
The OCAT executable DLLInjector32.exe appears to fail (DRM most likely?) and this results in a couple hundred or so instances of DLLInjector32.exe and Conhost.exe in task manager. It totally bogs down the system for a minute or so, but the UPlay game never launches. I have verified this problem with The Division, Far Cry Primal, and Ghost Recon Wildlands.

If it's DRM-related (which seems likely),

[2017-04-14 05:57] Anteru commented on #1
Thanks for the analysis. We'll take a look how to handle this situation better - obviously it shouldn't create hundreds of instances of `DLLInject32.exe`.

[2017-04-19 12:17] Brisse89 opened #7 "Recommend blacklisting "firefox.exe""
OCAT causes problems with Mozilla Firefox web browser. It may have to be blacklisted.

This message will appear if you try to launch Firefox while OCAT is running: http://i.imgur.com/L5hRQU3.png

[2017-04-19 14:46] Anteru commented on #3
Please open a new issue for the feature request. I'm closing this issue which was about the missing source.

[2017-04-19 14:46] #3 closed

[2017-04-19 17:14] jkampman opened #8 "Recording hotkey doesn't work in Grand Theft Auto V"
OCAT can successfully hook the Grand Theft Auto V executable and display its overlay in-game, but some hangup between the utility and the game isn't allowing OCAT to detect the hotkey press to start recording data. This issue appears to arise no matter what hotkey one chooses (including some real weirdos like Caps Lock and Pause/Break).

[2017-04-19 19:44] jarredwalton opened #9 "Windows 10 Creators Update"
Something seems to have changed quite a bit with Creators Update. OCAT no longer creates output files when testing games -- Doom Vulkan specifically is a problem, which is the only games where I currently use OCAT. The FPS view in the corner seems to work fine, and at the end of a benchmark session it will show results, but you only have a second or two to write those down.

[2017-04-20 18:37] MechWOLLIer commented on #9
I can confirm this, i have the same problem with Creators Update.

[2017-04-21 13:25] Anteru opened #10 "Add AppVeyor integration"
OCAT should build automatically using AppVeyor.

[2017-04-25 14:17] #10 closed

[2017-05-10 11:41] dbaumeister commented on #7
Added firefox.exe to the default blacklist.

[2017-05-10 11:41] #7 closed

[2017-05-10 13:50] dbaumeister commented on #9
Merged in the PresentMon fix from
https://github.com/GameTechDev/PresentMon/issues/25
--> This fixes the recordings on the Creators Update.

[2017-05-10 13:50] #9 closed

[2017-05-10 15:04] rys opened #11 "Intermittent display of overlay in Rise of the Tomb Raider"
On Nvidia GPUs in DX12 mode, the overlay intermittently doesn't display for Rise of the Tomb Raider

[2017-05-10 15:06] rys opened #12 "OCAT icon not visible on a black taskbar"
The OCAT icon is black with transparent pixels, so on a black taskbar the whole icon appears as solid black.

[2017-05-16 09:32] dbaumeister commented on #1
Seems like the Windows Creator Update fixed this one. Uplay games start again and the recordings are working.

[2017-05-16 09:32] #1 closed

[2017-05-16 16:45] dbaumeister commented on #4
Working again - tested with "Capture All Applications" and starting Doom Vulkan from Steam.

[2017-05-16 16:45] #4 closed

[2017-05-24 09:32] MechWOLLIer opened #14 "Even bigger problem with Uplay and OCAT 1.0.1"
While OCAT 1.0.1 fixed a few problems i had (a big thank you for that!), it's completely impossible for me to benchmark anything on Uplay. While it was possible with the old OCAT to benchmark Uplay without the overlay, with OCAT 1.0.1 nothing happen in any Uplay games i tested.

If i use the overlay, Uplay games are not starting at all (while a crazy amount of the same processes were started in th

[2017-05-24 10:57] amddb commented on #14
Hey @MechWOLLIer I can't reproduce your issues with Ghost Recon: Wildlands.
But here is the deal: I could verify the same behavior on Redstone 1 (So before installing the Creators Update), but going to Redstone 2 fixed those issues (https://github.com/GPUOpen-Tools/OCAT/issues/1). Can you tell me on which games you are having troubles with - and maybe send me your log files?

[2017-05-24 11:14] larsonreever commented on #9
i also have had the same problem with [Creators Update](http://driverrestore.com/windows-10-creators-update-new-features/).

[2017-05-24 11:22] amddb commented on #9
Hey @larsonreever, It would be really helpful to get more information on that issue, as I can't reproduce it with my current system setup.

1. On which games can you reproduce the issue?
2. Which setup are you running? - Running dxdiag and giving me its results would be perfect.
3. Can you give me the OCAT logfiles? (Documents/OCAT/Logs)

Thank you very much :)

[2017-05-24 12:15] MechWOLLIer commented on #14
Hi @amddb
Sure, no problem!
I attached Files war Watch Dogs 2 and Ghost Recon Wildlands. Watch Dogs 2 loads normally, but i don't have an overlay. Also, wenn i stop the game, there is no benchmark result.

In Wildlands, the game isn't loading. The logs are getting bigger and bigger and i don't think it would ever end. When i push stop at OCAT, the tool stops and Uplay is crashing.

I also tried An

[2017-05-24 12:23] amddb commented on #14
Thank you very much!
Can you provide your system setup as well? Just run dxdiag and send me its summary.

[2017-05-24 12:26] amddb commented on #14
Ah and one more thing: Can you share your UPlay settings? e.g. If you have the UPlay overlay and/or the UPlay FPS counter enabled? (UPlay > Settings > General)

[2017-05-24 12:35] MechWOLLIer commented on #14
DXDiag is attached.

Uplay FPS is switched off, the overlay is on. But it's the same problem if the overlay is disabled.
[DxDiag.txt](https://github.com/GPUOpen-Tools/OCAT/files/1025466/DxDiag.txt)

[2017-05-24 12:39] amddb commented on #14
Thanks, I will investigate it.

[2017-05-24 13:02] MechWOLLIer opened #15 "No logging at all in DX11, but DX12 works"
Hi,

i found another bug.
The new OCAT version isn't logging any game i tested as long it's using the DX11 API. In fact, not a single game worked with DX11 and OCAT. I've got the overlay, it says logging, logging finished, but there is no log.

The funny thing is, that it's logging the same games perfectly fine in DX12. For example in Ashes of the Singularity, Deus Ex Mankding Divided and Rise of

[2017-05-26 20:15] farkasg75 opened #16 "OCAT can't launch"
Hi,

I use windows 10 with creator's update, but I can't launch this program.
I investigated the problem in even viewer, the results are:
- <Event xmlns="http://schemas.microsoft.com/win/2004/08/events/event">
- <System>
  <Provider Name="Application Error" />
  <EventID Qualifiers="0">1000</EventID>
  <Level>2</Level>
  <Task>100</Task>
  <Keywords>0x80000000000000</Keywords>
  <TimeCreated Syste

[2017-05-29 19:18] kamild1996 opened #17 "Pressing "Start" instantly crashes OCAT"
Regardless of options chosen in the app, clicking "Start" causes the app to immediatelly crash, showing the "OCAT stopped working" error.
OCAT version 1.0.1.43, running on Windows 10 Pro x64 Build 1703, AMD Crimson 17.5.1 (Radeon RX 480).

[2017-05-29 19:25] kamild1996 commented on #17
[PresentMonLog.txt](https://github.com/GPUOpen-Tools/OCAT/files/1036507/PresentMonLog.txt)
Here's the only log I was able to find in the documents folder.

[2017-06-02 19:16] knasiotis commented on #17
i have the same problem

[2017-06-05 15:39] treeckcold57 commented on #16
Hi. I've installed Visual Studio 2017, Python 3.61, and Vulkan SDK and then installed OCAT. Still can't launch at all.

`Log Name:      Application
Source:        Application Error
Date:          6/5/2017 11:38:04
Event ID:      1000
Task Category: (100)
Level:         Error
Keywords:      Classic
User:          N/A
Computer:      DESKTOP-3TUCPK9
Description:
Faulting application name: OCAT.exe, v

[2017-06-06 08:15] amddb commented on #17
Hey @knasiotis can I get your log files and potentially a DXDiag analysis of your system as well? (Just search for dxdiag in Windows and use the Button "Save All Information...") Maybe I can identify some overlap.

[2017-06-06 08:23] amddb commented on #16
Hey @farkasg75 and @treeckcold57, thanks for your input.
Could you do me a favor and look if there is a d3d9.dll located in C:\Windows\SYSTEM32\ ?

[2017-06-06 10:38] Lunious05 commented on #17
i've got same issue.

RYZEN 7 1700
RX 480
Windows 10 creators update (build 15063.296)
[DxDiag.txt](https://github.com/GPUOpen-Tools/OCAT/files/1054652/DxDiag.txt)
[PresentMonLog.txt](https://github.com/GPUOpen-Tools/OCAT/files/1054662/PresentMonLog.txt)

and i upload my dxdiag.txt and presentmonlog.txt

[2017-06-06 10:52] amddb commented on #17
Thanks @Lunious05 .
Did anyone of you try to use the 1.0.0 release as well? Is it not working, too?

[2017-06-06 10:52] kamild1996 commented on #17
Here's my [DxDiag.txt](https://github.com/GPUOpen-Tools/OCAT/files/1054696/DxDiag.txt) as well.

[2017-06-06 10:54] kamild1996 commented on #17
And 1.0.0 doesn't seem to crash.

[2017-06-06 10:58] amddb commented on #17
Oh, that's good news then. Can you please delete your PresentMon log and run the 1.0.0 release again?

[2017-06-06 11:00] kamild1996 commented on #17
Done, here's the log:
[PresentMonLog.txt](https://github.com/GPUOpen-Tools/OCAT/files/1054710/PresentMonLog.txt)

[2017-06-06 11:35] amddb commented on #17
Thanks @kamild1996  I'll give it a look.

[2017-06-06 12:05] knasiotis commented on #17
@amddb
[DxDiag.txt](https://github.com/GPUOpen-Tools/OCAT/files/1054918/DxDiag.txt)

[2017-06-07 14:08] MechWOLLIer commented on #15
Just for you information:
I tried it again with a different system and a new installed Win 10. But it's the same problem. Funnily, sometimes a file is written. But most times not.

[2017-06-07 14:19] amddb commented on #15
Hey @MechWOLLIer thanks for your input. Your "sometimes" means sometimes for the same game or sometimes for different games? Do you switch off the capturing in OCAT between those runs or do you keep the OCAT capturing running in the meantime?

[2017-06-07 14:23] MechWOLLIer commented on #15
Sometimes for the same game. For Example F1 2016. Sometimes the OCAT log is working and sometimes not. I tried both: Stop the capturing between different runs and keep running. It makes no difference.

[2017-06-07 14:30] amddb commented on #15
Are you able to observe some common behaviour? E.g. the recording is always working on the first try after starting the PC and it is not working after that? In general if anything is not working due to some broken DLL injection, signing out of the current user and signing back in resets the system to a healthy state.

[2017-06-07 14:41] MechWOLLIer commented on #15
Sadly not...I tried it out again. Restarted the PC, all of a sudden a log file is created. After this, no new file is being created anymore. I loged off and on again, but no new file. I restarted the system again, no new file again.

The overlay is working all the time and it says "Capture started", "capture ended" and i also see the results. But there is no log file.

[2017-06-07 16:22] MechWOLLIer commented on #15
Now it's getting interesting. It seems that this problem only occurs on Nvidia GPUs. I tried the same (on a different system with Win 10 Creators update) with a RX 580 and the logging works fine. While on different Nvidia cards and drivers it's not working.

[2017-06-07 17:00] amddb commented on #15
That's indeed interesting. I'll try to reproduce it on a Nvidia GPU then :)

[2017-07-07 15:26] rys opened #19 "PUBG BattllEye launcher blocks the loading of the game overlay"
The PUBG (PlayerUnknown's Battlegrounds) launcher actively blocks the overlay.

[code]

[2017-07-11 00:35] silentdragoon opened #20 "Recordings not being created (DoomVK, Win10 CU)"
The overlay is appearing fine in game (Doom Vulkan version), I can record using the hotkey and a summary appears briefly on screen, but no records appear in Documents / Ocat.

The logs are attached, and say "Get module handle failed (gameoverlay64.dll) -  Error Code: 126 (The specified module could not be found.)"

Logs:

[GlobalHook64Log.txt](https://github.com/GPUOpen-Tools/OCAT/files/1137422/Gl

[2017-07-11 08:30] amddb commented on #20
Hey @silentdragoon, thanks for your input. Unfortunately I can not reproduce it on my machine.
Can you do me a favor and try to run PresentMon (https://github.com/GameTechDev/PresentMon) directly on Doom Vulkan?

[2017-07-11 14:01] silentdragoon commented on #20
I downloaded the latest Windows build of PresentMon from Github and ran it successfully. Here's the resultant CSV file, which seems fine to me:

http://www.sharecsv.com/s/4bbec0b97002a45f3405b7eaa9b8cf70/PresentMon-DOOMx64vk.exe-2017-07-11T145316.csv

[2017-07-11 14:10] amddb commented on #20
Thanks a lot @silentdragoon . I'll take care of it :)

[2017-07-11 14:15] silentdragoon commented on #20
Thanks @amddb! Here are some more recent logs, showing the failed single application hook (maybe) and successful hook but not files written (both events from 15:00, with single first then global).

[GlobalHook32Log.txt](https://github.com/GPUOpen-Tools/OCAT/files/1139142/GlobalHook32Log.txt)
[GlobalHook64Log.txt](https://github.com/GPUOpen-Tools/OCAT/files/1139143/GlobalHook64Log.txt)
[PresentMonL

[2017-07-11 14:22] amddb commented on #20
Single application capture won't work with Doom Vulkan, as the application does the following things:
1. Start the OpenGL version <-- OCAT can successfully hook that
2. Start the Vulkan version <-- Is not recognized as we do not hook into child processes
3. Closes the OpenGL instance <-- OCAT stops capturing

So in a sense OCAT works as intended here.

[2017-07-11 14:38] silentdragoon commented on #20
Sure, that explains the non-hooking perfectly. Thanks for explaining. 👍 That just leaves the original bug, then :)

[2017-07-14 19:06] whitefox24 opened #21 "OCAT isn't logging anything for Uplay and Stream"
Hey, so I've been benchmarking a few games on a test system and it so happened that OCAT didn't log anything after I hit the recording hotkey. I've attached my current PRESENTMON files
I think it might have to do something with the code line... "GetProcessID FromName - Process no found"

Thoughts?
![uplay benchmark issue](https://user-images.githubusercontent.com/30182234/28226975-082da974-68a6-11

[2017-07-17 08:36] amddb commented on #21
Hey @whitefox24 , I can't reproduce this issue on my machine. Can you do me a favor and try to get recording data from PresentMon (https://github.com/GameTechDev/PresentMon/releases) directly?
Especially the fixed bugs from their latest release look like they would fix your issue.

[2017-07-27 04:50] aschereT opened #22 "OCAT crashes World of Warships"
WoW version 0.6.8.1, OCAT version 1.0.1.43

Specs:
i7-6700HQ
Windows 10 Pro v1703 build 15063.483
RAM 16GB

---------------------------
Critical Error Occurred
---------------------------
Application C:/Games/WoW/worldofwarships.exe crashed 07.26.2017 at 21:45:33

Message:
The BigWorld Client has encountered an unhandled exception and must close (EXCEPTION_ACCESS_VIOLATION : 0xC0000005 @ 0x736BCF5

[2017-07-27 09:23] amddb commented on #22
Hey @aschereT , can you tell me a little bit more when that crash happens? Is that during the login screen, when starting the game or at some point while playing the game?

[2017-07-27 13:37] farkasg75 commented on #16
Yes... that problem is defeated with the new version of MSI Afterburner.

[2017-07-27 13:40] amddb commented on #16
Hey @farkasg75  - That means, you can start OCAT again after you installed the new version of MSI Afterburner?

[2017-07-27 14:12] farkasg75 commented on #16
Yes... but I have another problem, when I pushed the Start button, the problem has stopped. I try to make a custom build, but I can't do from source,  because some of the files are missing.

[2017-07-27 14:21] amddb commented on #16
1. I assume you mean, that OCAT crashes when you press the Start button?
2. Can you tell me which files are missing?

[2017-07-27 21:55] aschereT commented on #22
It's after clicking "Play" on the launcher. A black window would show up, but then the game would crash with the given error. When OCAT is closed it would launch normally. I assume it's something to do with the DLL injection?

[2017-07-31 08:11] amddb commented on #22
Yes, that's most likely due to the DLLInjection - but crashing the game should not happen in that case. Can you provide the OCAT logs, please? (They are located in Documents/OCAT/Logs).

[2017-07-31 11:01] farkasg75 commented on #16
1. Yes exactly
2. Ocat.binaries.wxs
Ocat.Documentation.wxs

[2017-07-31 11:05] farkasg75 commented on #17
I have a same problem with 1.0.1... that independent from mobo, gpu, etc. Because i wanna use for testing a lot of gpus.
What kind of softwares be installed, where the program is works properly?

[2017-08-06 21:35] stevendevit opened #23 "OCAT Crashes when clicking Start (System.Runtime.InteropServices.SEHException)"
Any idea what's happening?

![preview](https://user-images.githubusercontent.com/20980018/29007290-e879a6fc-7aff-11e7-88f7-715ea34c8e18.PNG)

[2017-08-07 09:15] amddb commented on #23
Hey @HaTanka this is the same issue that was reported here: https://github.com/GPUOpen-Tools/OCAT/issues/17. Given that I can't reproduce it on my side, can you provide a little bit more information, please?

1. Which version of OCAT are you running? Does that happen with v1.0.0 as well?
2. Did you have OCAT on your machine previously? e.g. did you uninstall the old version before installing the l

[2017-08-08 17:34] HaTanka commented on #23
@amddb Hey, I did find the bug. It seems that _directories[DIR BIN] never gets assigned.
So I hardcoded the Bin Folder Path and just worked perfectly!

![1](https://user-images.githubusercontent.com/20980018/29085518-d98fd6c2-7c6f-11e7-9945-c51d6c21ac9c.PNG)

By the way, when I try to capture a single application I get this error

![2](https://user-images.githubusercontent.com/20980018/29085651-32

[2017-08-09 09:16] amddb commented on #23
Hey @HaTanka , first of all: Thanks for investigating that issue further! I'll try to find a proper solution (at least OCAT should give a propper error message when encountering your problem instead of crashing).
Your second issue should be fixed in the upcoming release. Please file a new bug, if it persists :)

Although, OCAT normally doesn't get through proper anti cheat systems anyway, I can't

[2017-08-12 12:49] farkasg75 commented on #23
With the last version I have a same problem too, but I find the part of code, where I runs out to crash in the Wrapper.cpp:

void Wrapper::OverlayWrapper::StartCaptureExe(String^ exe, String^ cmdArgs)
{
  std::wstring exeW = msclr::interop::marshal_as<std::wstring>(exe);
  std::wstring cmdArgsW = msclr::interop::marshal_as<std::wstring>(cmdArgs);
  **overlayInterface_->StartProcess(exeW, cmdArgsW)

[2017-08-12 16:36] GuestJim opened #25 "(v1.1.0.60) Single csv made when recording All Processes"
In the newly release version 1.1.0.60 if you check "Record performance for all processes" it will record all of the detailed data into a single CSV labelled AllProcesses. Previously the behavior was to create a CSV for each process, with the appropriate label as well, and this is also what is stated in the documentation ([OCAT - Settings](https://ocat.readthedocs.io/en/latest/usage.html#settings))

[2017-08-12 17:03] GuestJim opened #26 "(v1.1.0.60) Blacklist seems to be ignored"
Also observed with the [(v1.1.0.60) Single csv made when recording All Processes](https://github.com/GPUOpen-Tools/OCAT/issues/25) issue is that some blacklisted executables will still be recorded. I have seen explorer.exe, OCAT.exe, and the Desktop Window Manager all being recorded, despite being in the blacklist. The DWM is also weird because it is not named but by looking at the PID I can see i

[2017-08-12 17:14] raven02 opened #27 "(v1.1.0.60) Location of FPS showing"
Just wonder is it possible to choose the location of FPS showing , like the left top corner and also disable the ms second show ?

[2017-08-13 21:00] HaTanka commented on #23
@amddb no problem!

Hey, will OCAT support DirectX9? As you may know most games use DirectX9, so it would be a really good feature

[2017-08-14 06:21] amddb commented on #23
@farkasg75 There has been no fix for that issue in the 1.1.0 release, sorry. The crash is most likely related to OCAT not finding the binary directory, as the findings by @HaTanka suggest. Here's what happens in that case:

1. Once OCAT enables the overlay injection it tries to load the GlobalHook.exe.
2. It failed to find the binary directory (OCAT-Install-Directory/Bin), where all of the necessa

[2017-08-14 06:28] yekrutdloc commented on #16
Regarding the "OCAT can't launch" issue, I had it occur on me on two separat systems recently. The executable would launch but crash instantly, not even launching. For **me** the problem was the settings file. I changed the last three lines to 0 and OCAT launched with no problems.

[2017-08-14 06:34] amddb commented on #16
Hey @yekrutdloc is that with version 1.1.0 ? The major change here is, that the overlay now starts immediately after launching OCAT. So I guess you are seeing the same issue as described here: https://github.com/GPUOpen-Tools/OCAT/issues/23

What happens once you try to enable the overlay in the 'Capture' tab?

[2017-08-14 06:36] amddb commented on #16
@treeckcold57 is OCAT still crashing for you?

[2017-08-14 06:48] amddb commented on #27
I think that would be totally doable :)

[2017-08-14 07:00] yekrutdloc commented on #16
@amddb Yes latest version, 1.1.0.60. Yes Overlay is the problem, trying to enable it crashes OCAT instantly. I can replicate this on two identical systems, one for AMD graphics cards and one for Nvidia cards.

OS: W10, 1703, 15063.296. Gaming mode and all related settings disabled.

Capturing works flawlessly though, even with Doom which I was having issues with on Presentmon.

[2017-08-14 07:05] amddb commented on #16
It looks exactly like you are seeing the same issues as described in https://github.com/GPUOpen-Tools/OCAT/issues/23. I am currently working on it :)

[2017-08-14 07:13] amddb commented on #26
Hey @GuestJim in order to keep up with the PresentMon releases, I had to remove our changes from PresentMon source code. At the moment I am only calling into PresentMon with the same constraints as with command line options. As there is no blacklist functionality in PresentMon, I can't do anything about that - sorry :(.

However you could suggest to add a blacklist here: https://github.com/GameTec

[2017-08-14 07:22] amddb commented on #25
Hey @GuestJim , in the same manner as with https://github.com/GPUOpen-Tools/OCAT/issues/26: There is no feature in PresentMon that allows to output separate files when recording all processes (that I am aware of).

I agree with you, that this was quite a useful feature before, but I had to remove these parts in order to keep up with new PresentMon releases --> I just forgot to change that part in

[2017-08-14 11:04] GuestJim commented on #25
Well that's disappointing. At least it was easy enough for me to write an R script to clean up the CSV.
Since these changes were to help keep up with new PresentMon releases, I have a couple quick questions: is it possible to add a field to OCAT for passing command line options to PresentMon (currently it is just the target executable); and is there any way to update PresentMon separately from OCA

[2017-08-14 11:14] amddb commented on #25
1. What command line options would you be interested in?
2. It is not that easy, as we do not call the command line options but instead pass the CommandLine struct directly to the respective thread. What you can do though, is to fork OCAT and change the call to PresentMon in PresentMonInterface (or you can change the PresentMon subtree directly with your modified version of PresentMon).

[2017-08-14 11:22] GuestJim commented on #26
Actually I think removing blacklisted processes from the summary would be an issue. That means the blacklist works in one of two places, which could confuse people. I kind of feel it would be better to essentially remove the blacklist altogether, until PresentMon can support it.
Just had an idea though; could it be possible to add a feature to OCAT to clean up the already made CSVs, removing black

[2017-08-14 11:29] amddb commented on #26
We can't remove the blacklist completely, as this is mostly a tool to workaround crashing other executables while trying to globally inject the overlay.

However I think I will implement your second proposal. Removing processes that are on the blacklist from the created files shouldn't be an issue.

[2017-08-14 11:31] GuestJim commented on #25
I don't have special interest in any of the PresentMon command line options, just see it possibly being useful, if there were a way to update PresentMon independently. I could see the delay option being useful for some, including me for those applications that gobble keyboard inputs, so I need to start recording outside the application and then tab back in. Not sure about how much interest there w

[2017-08-14 11:34] GuestJim commented on #26
Excellent!

[2017-08-14 11:34] amddb commented on #25
In that case we can add additional settings to OCAT for delay and logging details.

[2017-08-14 14:15] jenatali commented on #25
For what it's worth, I'm totally open to PresentMon refactoring that would make it easier to consume with different backends, if you want to have different CSV formats or filtering or things like that. I'm also open to taking back contributions from OCAT into the PresentMon tree, if you still have the blacklist or multi-CSV code available.

[2017-08-14 16:06] raven02 commented on #27
Thanks . I also recommend this tool to RPCS3 which is  PS3 emulator supporting D3D12 , GL and Vulkan backend.

[2017-08-23 09:40] amddb commented on #25
Hey @jenatali I am going to prepare some pull-requests for the proposed features.
I am thinking of adding something like: '-multi_csv' and '-blacklist [path]'. I have to implement that from scratch though, as the previous implementation reported everything back to OCAT which then wrote out the .csv files.

[2017-08-23 13:26] mak3 opened #28 "(v1.1.0.60) OCAT doesn't start at all"
After launching OCAT and confirming UAC prompt nothing happen.
This guy also experienced this: https://twitter.com/WebwalkerCZ/status/895608609291124736

[2017-08-23 14:06] amddb commented on #28
Hey @mak3 thanks for reporting it. Are you familiar with the Windows Event Viewer? If so: it would be cool if you could provide a log from the OCAT crash. I think your problem might be similar to #16 .

[2017-08-23 19:37] mak3 commented on #28
It's different. There are 2 errors.

[code]

[code]

[2017-08-24 08:00] amddb commented on #28
It seems like it is a similar problem as #23.
The source of that issue stems from the way the overlay dlls are retrieved. I changed that with the next release and it should likely fix your issue as well.

If you can go without the overlay in the meantime, you can open the settings.ini file in Documents/OCAT/Config and change injectOnStart=1 to injectOnStart=0. That will prevent the overlay injecti

[2017-09-16 23:15] acemod13 opened #29 "(1.1.0.60)Crash during startup. Can't open the log file."
Every time I try to run OCAT, the program crashes when it tries to open the log file. The weird thing about it is that the app is looking at a folder that possibly can't decipher (maybe because my laptop runs on a Windows 10 laptop with the Greek language pack in use), but if I look at my Documents folder, the correct folder was made already.
![ocat_2017-09-17_02-08-32](https://user-images.githubu

[2017-10-24 09:01] MechWOLLIer opened #30 "Fall Creators Update and problems in UWP and For Honor"
I installed the Fall Creators Update a few days ago and encountered a few problems with OCAT.

In general, the tool is still working fine, the recording and the overlay. But i found two problems that didn't happen before the update.

1. Sometimes, the tool is crashing while recording Forza 7 and Gears of War 4 (so, it seems to be a UWP problem). It's just a standard crash (.exe is not working anym

[2017-10-24 10:30] amddb commented on #30
Hey @MechWOLLIer ,

1. Are you sure that the crashes are directly related to OCAT? Are the games crashing without OCAT being active as well? Or are those crashes only while recording the game?
2. I'll try to reproduce it. That will take a while though, I didn't update to the Fall Creators Update yet, and downloading For Honor takes its time as well. But I've pushed a new version of OCAT: https://c

[2017-10-24 11:07] MechWOLLIer commented on #30
Hi @amddb

Thanks, i will try the new build asap. But it could take a bit time, quite busy at the moment.

[2017-10-25 06:03] MechWOLLIer commented on #30
Hi @amddb

I'm not sure if that's another Fall Creators Update problem or just a problem with OCAT 1.1.0.65 (because that version isn't official released, i won't open another issue).

But it seems that the 99,0 percentile summary is broken. I did three benchmarks today and while the FPS are right, the percentiles are all wrong.

I uploaded the performance summary and the logs from the games, so i

[2017-10-25 09:59] amddb commented on #30
Hey @MechWOLLIer ,
Thanks for catching this! I grabbed the wrong column for creating the 99th percentile times...

Regarding "For Honor": It seems like the problem is caused by "For Honor" reporting its name with the trade mark unicode character. OCAT and PresentMon report an empty string in that case and skip the recording. Will have to figure out an alternate way to get the process name.

Did 1.

[2017-10-25 10:28] MechWOLLIer commented on #30
I didn't have the time till now for trying out Forza. But i will asap!

[2017-10-26 05:33] MechWOLLIer commented on #30
@amddb

Still have to do the testing with Forza (sorry for the delay...), but perhaps that helps with For Honor.
While presentmon also isn't working in For Honor with the -hotkey function, -scroll_toggle works fine.

[2017-10-26 08:11] amddb commented on #30
@MechWOLLIer Good tip, thanks. I'll see what makes the difference there.

[2017-11-06 19:42] GuestJim commented on #25
Looks like the -multi_csv option has been implemented into PresentMon v1.3.0, which was released a few days ago. Hopefully it will not take too much time to bring about OCAT support. (Still rocking my R scripts though, so I'm good for now.)

[2017-11-07 11:09] MechWOLLIer commented on #30
Finally, i tried OCAT 1.1.0.65 in Forza 7 and...well, it worked fine. I tried it five or six times and the tool never crashed :)

[2017-12-22 02:23] eddr opened #31 "Error upon ending recording in Battlefield 1, DX12 mode"
1. Works will for DX11 mode
2. Seems to happen especially for higher resolutions (4K), but happened for 1080p too
3. Other DX12 games are being recorded

Windows 10 1709 build, latest Nvidia drivers

I'll be glad to provide information

[2017-12-22 08:17] amddb commented on #31
Hey @eddr, can you give this [version](https://ci.appveyor.com/api/buildjobs/4ajtb17vw96a3ksw/artifacts/OCAT_1.1.0.65.exe) a try, please?

[2017-12-22 11:07] aurolou commented on #31
Hey @eddr , I couldn't reproduce the bug with neither the latest [https://ci.appveyor.com/api/buildjobs/e655hjyt1w9mp3rm/artifacts/OCAT_1.1.0.88.exe](version) nor the official release version using the same settings.

[2017-12-22 11:41] eddr commented on #31
@amddb works well with the 65 version. Is there a point to test with the release version?
@aurolou Not sure - I do have some other stuff like Nvidia experience installed on the machine. It could interfere maybe.
The 65 version works - do you want me to test with the latest too?

Great stuff - no sure how I missed it before

[2017-12-22 11:44] amddb commented on #31
We didn't release a new version yet, these builds are "work in progress" - but glad those work for you :D
No need to test with a later version - except you are curious yourself ;)

[2017-12-22 12:11] eddr commented on #31
Wait, I was wrong. It works better (perhaps, not sure), but still has errors:
1. If I change resolution while in game, it results in OCAT overlay not showing and trying to record results in error
2. If I change resolution before I run OCAT -> closes BF1 -> run OCAT -> run BF1, then it works at least for 1440p
3. It doesn't work for 4K. Starts with showing the stats and they disappear as the applic

[2017-12-22 12:53] amddb commented on #31
Regarding 1) Recording shouldn't be affected by the overlay. Can you try to run it with the overlay disabled, please?
5) You can put 'Explorer.exe' onto the OCAT blacklist ("\Documents\OCAT\Config\blackList.txt"). That will prevent OCAT from injecting the overlay.

Will look into the rest next year :)

[2017-12-22 13:28] eddr commented on #31
It now works with the overlay disabled + overlay injection option disabled (and I think, only if both)

[2017-12-22 14:15] eddr commented on #31
I like the double benchmark files too

Have fun!

[2018-02-07 22:10] Reedbeta opened #32 "OCAT breaks Visual Studio debugging"
While running OCAT 1.1.0.60, I can't launch any programs in the Visual Studio debugger—I get an error popup saying "A 64-bit debugging operation is taking longer than expected. This may be caused by incompatibilities with 3rd party networking software."

As soon as I shut down OCAT, debugging works normally again. However, I've observed that OCAT sometimes crashes on shutdown, and frequently takes

[2018-02-08 09:07] amddb commented on #32
Hey @Reedbeta can you try to set Visual Studio (devenv.exe) onto the blacklist ("\Documents\OCAT\Config\blackList.txt") and see if that solves it?

[2018-02-08 21:01] Reedbeta commented on #32
@amddb Yes, thanks, adding devenv.exe to the blacklist seems to resolve the issue!

[2018-02-08 21:31] Reedbeta opened #33 "OCAT + Vulkan validation layer = stack overflow"
A Vulkan app I'm developing often experiences a stack overflow inside `vkCreateDevice` if launched with OCAT running, and the `LUNARG_standard_validation` layer enabled. Without the validation layer it works fine; also works fine with the validation layer but without OCAT.

The callstack looks like this:

 	nvoglv64.dll!000000005d60c9dd()	Unknown
 	nvoglv64.dll!000000005de6f6ab()	Unknown
 	nvoglv6

[2018-02-12 08:58] amddb commented on #32
I'm glad I could help :)

[2018-02-12 08:58] #32 closed

[2018-02-12 15:48] aurolou commented on #33
Could you please try out e.g. this [version](https://ci.appveyor.com/api/buildjobs/bk0st7y0wbaao63a/artifacts/OCAT_1.1.0.112.exe)? With 1.1.0.68 we changed the Vulkan layer loading for the global hook.

I will have a look into the error when both, the OCAT and the validation layers, are enabled. Thanks for reporting the issue.

[2018-02-12 22:05] Reedbeta commented on #32
Hmm, actually, I spoke too soon. While putting devenv.exe on the blacklist does resolve the problem with launching the debugger, the OCAT overlay still doesn't appear in my app when debugging, or when launching from Visual Studio (without the debugger) via Ctrl+F5. The overlay _does_ come up if I launch the app from Explorer or the command prompt, though.

Interestingly, I do see a bunch of OCAT o

[2018-02-12 22:30] Reedbeta commented on #33
Hi, with 1.1.0.112 I no longer see the stack overflow. However I now get another error reported by the VK debug callback:

    vkCreateSwapChainKHR(): surface has an existing swapchain other than oldSwapchain

I have `oldSwapchain` set to null since I'm creating the swap chain for the first time. If I ignore this I get a cascade of other Vulkan errors about image formats and suchlike, and the app

[2018-02-13 11:17] aurolou commented on #33
Hi, thanks for the update. I see if I can reproduce the issue.

All Vulkan applications I tried so far ran without problems though.

[2018-02-13 22:53] Reedbeta commented on #33
More detail about the Vulkan errors I get using OCAT 1.1.0.112 with the validation layer (added OCAT log messages as well for context):

	OCAT: 02/13/18 14:33:10	INFO        VulkanOverlay 8480 VkRender.exe - MessageLog - Logging started
	OCAT: 02/13/18 14:33:10	INFO        VulkanOverlay 8480 VkRender.exe - Config - file loaded
	OCAT: 02/13/18 14:33:10	INFO        VulkanOverlay 8480 VkRender.exe -

[2018-02-14 17:16] aurolou commented on #33
Thanks for the output log, it helped a lot!
I pushed some changes, could you please check if this solves the issue for you?

[2018-02-14 19:52] Reedbeta commented on #33
Thanks, I've tried 1.1.0.114. The app and overlay now work!

I'm still getting the following errors reported from the VK debug callback, though if I ignore them things do continue to work normally afterward:

    [inside vkGetSwapchainImagesKHR] vkCreateImageView() pCreateInfo->format VK_FORMAT_B8G8R8A8_SRGB cannot be used with an image having the VK_IMAGE_TILING_OPTIMAL and VK_IMAGE_USAGE_STORAGE

[2018-03-01 08:52] aurolou commented on #33
Hi,

sorry for the delay. I pushed some fixes which should hopefully solve the validation layer warnings. You can check this [version](https://ci.appveyor.com/api/buildjobs/kiyhlrkdmm56sbc7/artifacts/OCAT_1.1.0.119.exe). Thanks again for the report! :)

[2018-03-09 22:33] LordRampantHump opened #34 "This does not work at all!"
I tried 7 games in my steam lib and this did not show overlay at all. The only thing i could get the overlay on was obs!

[2018-03-12 08:05] aurolou commented on #34
Hi,

may I ask which version you tried? You can get the most current version [here](https://ci.appveyor.com/api/buildjobs/xpgfuwdrpqbdf745/artifacts/OCAT_1.1.0.125.exe). Could you please try this one out? We made a couple of changes and bug fixes since the last official release. If it still doesn't show any overlay, could you please describe the steps to reproduce your issue? Thanks! :)

[2018-03-12 18:38] Reedbeta commented on #33
Thanks! Just got around to testing this. Now I don't have any validation layer warnings when starting up through Visual Studio.

Oddly, though, I get this error coming through the debug callback, only when starting the app standalone, but not when launching through Visual Studio:

![image](https://user-images.githubusercontent.com/1578730/37302641-54249b84-25e9-11e8-9799-fcc3fece321d.png)

[2018-03-13 17:51] shmerl opened #35 "Linux support?"
Do you have any plan to support Linux with OCAT (obviously for Vulkan only)? Flexible Vulkan performance HUD can be very useful.

[2018-03-13 17:54] rys commented on #35
Hi @shmerl. We currently have no plans for Linux support, but I can add it to our future potential roadmap. I've had the same request from a number of places now, so we'll definitely add it to the list of features we'd consider. No promises, but I'll update this issue if we decide to work on it.

[2018-06-16 16:51] Arias800 opened #36 "Fps drop in Trial evolution gold edition"
I have a lot of fps drop in Trial Evolution Gold Edition when i have OCAT open do you have any ideas why it's happen ?
My spec :
CPU : I5-6300HQ 2.30Ghz
Ram : 8Gb
GPU : Nvidia gtx 1060 6gb
Os : Windows April Update 64bits

[2018-06-27 12:56] aurolou commented on #36
OCAT does introduce some overhead which can cause a change in the fps rate. If you only want to get the recording files, you can also disable the overlay hook and see if this makes a difference. E.g. start OCAT, start your game with the overlay setting set to disabled, press the recording hotkey.

Further, which version did you use? We made significant changes since the last release - so you could

[2018-07-01 15:14] sicu opened #37 "Target SteamID"
Allow application start using SteamID. Some games like PUBG (steam://rungameid/578080) do not seem to load properly by  just targeting the executable.

[2018-07-20 07:53] Arias800 commented on #36
Fix with the last release thanks

[2018-07-20 07:53] #36 closed

[2018-08-08 13:54] aurolou commented on #12
OCAT icon has a white outline now.

[2018-08-08 13:54] #12 closed

[2018-08-08 15:51] aurolou commented on #11
Fixed.

[2018-08-08 15:51] #11 closed

[2018-08-14 13:56] eddr opened #38 "Latest version?"
Hi, is the year old 1.1.0 the latest version?
Thanks

[2018-08-14 13:58] rys commented on #38
@eddr yes, that's the last official release. We're preparing another one to be released soon, in ~2 weeks.

[2018-08-14 19:27] eddr commented on #38
Thanks rys! I vaguely remembered a link to some other versions - like this one
 https://ci.appveyor.com/api/buildjobs/e655hjyt1w9mp3rm/artifacts/OCAT_1.1.0.88.exe

[2018-08-19 20:26] Woking-34 opened #39 "FCAT overlay injection"
Hi,

Can you make OCAT to support FCAT like color bar overlays for frame time analysis? Thanks!

[2018-08-30 11:35] aurolou commented on #39
Hey,

the current [version](https://ci.appveyor.com/api/buildjobs/tl8x8q6grv8im595/artifacts/OCAT_1.1.0.152.exe) shows a red dot in the overlay during recording frame time statistics. Does this serve your needs or which exact feature are you addressing by proposing the FCAT like color bar overlays? :)

[2018-09-03 13:49] aurolou commented on #39
Ah, okay. Unfortunately, currently there are no plans to make changes to the overlay. The displayed frame times on the overlay are actually calculated by the delta of the frames, which is independent from the recordings captured by PresentMon, but should appr. the same anyway. For your case, you would need to analyze the overlay text message sequence. Average FPS value is only displayed once the r

[2018-09-19 08:35] aurolou commented on #39
I think I got your request now. You are asking for a bar which changes color per frame? I will add it to the list of features we'd consider, but I can't promise anything yet :)

[2018-09-19 08:42] #27 closed

[2018-09-19 08:43] #25 closed

[2018-09-19 21:06] brunogm0 opened #40 "OCAT crashes HITMAN"
HITMAN

win10  pro

Crash when enabling Overlay.

[2018-09-20 12:17] aurolou commented on #40
I pushed a fix, you can get the build [here](https://ci.appveyor.com/api/buildjobs/k18d1aer2c387lx5/artifacts/OCAT_1.2.0.168.exe).

I noticed, that OCAT also hooks into the launcher, which can cause issues. To prevent these, you can do one of the following:

start the launcher -> (set your options as you like) -> enable the overlay -> start the game via the launcher
or
add Launcher.exe to the blac

[2018-09-20 16:56] aurolou commented on #40
Unfortunately, I can't reproduce the crash locally, the fix in version 1.2.0.168 solved the issue for me. So I need some further information from you to figure out the root cause of the problem :)

Do I understand correctly, that you just start OCAT, and without even enabling the overlay, HITMAN crashes on launch, but when OCAT is not running, HITMAN does launch without problems?

And how do you e

[2018-09-21 15:53] brunogm0 commented on #40
Yes, but with launcher.exe in blacklist it changes to only crash after few seconds in the game.
![ocat_hitman](https://user-images.githubusercontent.com/1731755/45890526-93ac7900-bd99-11e8-87e4-81d70db7f807.PNG)

Silent crashes with DX11 instead of DX12 (error as in the picture);
OCAT click "Start Overlay on" silent crash launcher at options click;
OCAT open but overlay off,  allows to change opti

[2018-09-25 11:00] aurolou commented on #40
Thanks for the details! I could locally observe a thrown exception which I think is related to your issue, now I am looking for a way to solve it :)

[2018-09-29 03:22] lymastee opened #42 "OCAT can't capture powerpoint slide show fps"
I wrote the hooks using minhook and it couldn't capture the slide show view's present callings, too.
While the fraps could.
But why?

[2018-10-31 15:42] DevTechProfile opened #43 "Culture format problem in frametime graph"
Using german localization leads to format problems.

Use this code in file "PlotData.cs"

double.TryParse(values[indexFrameEnd], **NumberStyles.Any**, **CultureInfo.InvariantCulture**, out var frameEnd)

[2018-10-31 15:59] DevTechProfile opened #44 "Problem with file record writing when account or path name include german umlauts"
If there are german umlauts in account or path name, no records could be written. I wrote an UTF_8 to ANSI converter in class PresentMon.cpp to fix this.

[2018-10-31 16:10] DevTechProfile opened #45 "Missing logging for file read/write exceptions"
If there is a problem with pathes, filenames or anything else the logger doesn't write any entries to find out what is wrong.

[2018-11-08 09:56] aurolou commented on #45
This [version](https://ci.appveyor.com/api/buildjobs/owq5e1owdnh8cvtv/artifacts/OCAT_1.2.0.176.exe) writes to the PresentMon log if the capture file could not be created - with the path name in question. If there are any other specific logs you would like to have added please let me know.

[2018-11-08 09:56] #45 closed

[2018-11-12 07:34] DevTechProfile commented on #44
A user and I tested your latest version. Everything ist ok when there are special characters (german umlauts) in the path name. Many thanks!

[2018-11-12 09:06] #44 closed

[2018-11-17 13:44] DevTechProfile opened #47 "Assassin’s Creed Odyssey doesn't start when overlay is active"
Version: 1.2.0.167
Same behaviour with GeForce 1080 Ti and AMD Vega 64. Overlay must be deactivated to start the game.

[2018-11-17 13:53] DevTechProfile opened #48 "Overlay displays no parameter"
Version: 1.2.0.167, GeForce 1080 Ti with latest driver, Windows 10 with latest updates
No parameter are been displayed when overlay is active, in no game. It's completely "dead". Paint.net is the only exception. Not a quite good shooter... ^^

[2018-11-21 10:47] aurolou commented on #47
Seems like this bug is related to UPlays anti-profiling mechanism. So the hooking for the overlay works in principle, but it gets stuck during the swapchain creation or, when hooking directly into the present call, it stucks there. This relates to the known issue, that the overlay doesn't work with UPlay games, sadly :( Sorry about that.

[2018-11-21 10:49] aurolou commented on #48
Unfortunately, we couldn't reproduce the issue. Do you mind providing some more details, e.g. name some game titles and list the repro steps on how you enable the overlay. Are you already on RS5? Thanks

[2018-11-21 12:38] DevTechProfile commented on #47
OK, thanks anyway!

[2018-11-22 10:12] aurolou commented on #42
Seems like somehow the 32-bit dlls got lost during an update. With the latest [version](https://ci.appveyor.com/api/buildjobs/q7d29mn8hhv6euko/artifacts/OCAT_1.2.0.180.exe) the overlay should be visible on the power point editor and presenter view - although it's data is quite useless due to the app's way how to update frames.
It does not work on the slide show view, it's a child process, but seem

[2018-11-22 13:30] lymastee commented on #42
Actually I'm using the 64-bit version powerpoint, and I am sure the hook to the slide show view worked because if I wrote the fps info into the file and I got something that seems to be correct.
It's just does not work when I try to draw something in the hooked present calling.

[2018-11-22 14:19] aurolou commented on #40
Hey, sorry for the delay. This [version](https://ci.appveyor.com/api/buildjobs/v9oeptbf5fwk43ec/artifacts/OCAT_1.2.0.182.exe) should work for FFXV, if you launch the game from OCAT (Launch App tab) and add as commandline argument: steam://run/637650

For Hitman, the global hook works for me, if not you can also try the explicit hook (launch the game directly from OCAT) with commandline argument: s

[2018-11-24 14:37] DevTechProfile commented on #48
I'v cleaned up my system. I've uninstalled all versions (there was also an older version), deleted all registry entries. So for me nearly everything is fine. On my system with GeForce 1080 Ti and latest driver:

Raft (Unity) -> works
Earthfall (Unreal Engine) -> works
SotTR (Crystal Dynamics) -> works
Doom (id Tech) -> doesn't work
Wolfenstein II (id Tech) -> works
Vampyr (Unreal Engine) -> works

[2018-11-27 08:42] #37 closed

[2018-11-28 08:53] aurolou commented on #48
I was able to reproduce the issue on Frostpunk using the global hook - no overlay is shown because it seems the hooking happens too late, once everything is already set up. However, the exclusive hook (under the tab 'Launch App') should work.
I couldn't repro the issues on Vermintide 2 - could you provide please more details? Also for Forza, I unfortunately only have the UWP version, which is trou

[2018-12-03 16:44] Taxxor90 commented on #47
I just testet AC Odyssey with OCAT an in my case the game runs just fine, benchmarking also works and the numbers seem to fit.

The only issue is that the overlay won't show at all.

[2018-12-03 17:30] Taxxor90 opened #49 "Overlay shows double the FPS with Shadow of the Tomb Raider DX12"
With Shadow of the TombRaider in DX11 mode, everything works fine.
The Overlay in the main menu states around 65fps, the bench summary states 64.7 average fps.

With DX12 however, the overlay states around 110fps. After the bench, the numbers on the overlay also stated 109.5 average fps, but the summary file states 55.6 average fps.

I first thought there's something wrong with the benchmark loggi

[2018-12-04 08:31] aurolou commented on #49
I know in the current release there is an issue with showing double FPS in the overlay on some games, e.g. Rise of the Tomb Raider, it should be fixed in this [version](https://ci.appveyor.com/api/buildjobs/5e2i8mq29f17g626/artifacts/OCAT_1.2.0.185.exe). Do you mind checking if it also solves your issue? If it still persists, please let me know and I have a look.

[2018-12-04 15:38] Taxxor90 commented on #49
Yes the problem was fixed with the new version.

[2018-12-04 15:43] aurolou commented on #49
Great, thanks for confirming.

[2018-12-04 15:43] #49 closed

[2018-12-04 17:14] Taxxor90 commented on #48
I'm also a Vega owner, now on Version 1.2.0.185

Out of the games I've installed, these work with the exklusive hook, any chance getting it to auto hook up sooner?

Frostpunk
Ni No Kuni 2

And these don't work at all
Final Fantasy XV
Starcraft 2, Stronghold Crusader 2, Borderlands 2, They are Billions (DX9?)
Destiny 2
Spellforce 3 (Overlay shows, but extreme graphic errors, nearly a white screen i

[2018-12-05 07:00] aurolou commented on #48
Could you try launching Final Fantasy XV with the command line argument steam://run/637650 ? This should prevent the app to restart and make the exclusive hook work.

I will have a look at the other games you mentioned.
Unfortunately, I haven't found a solution yet to get the auto hook up sooner, still working on it.

Thanks for the testing!

[2018-12-05 17:51] Taxxor90 commented on #48
Like putting exatxcly "steam://run/637650" into the launch options in steam? This didn't work.

[2018-12-05 17:53] aurolou commented on #48
Not in Steam but in the command line arguments field of OCAT, when you launch the executable via the 'Launch App' tab.

[2018-12-05 17:59] Taxxor90 commented on #48
Okay that worked, now the overlay is showing from the start.

While this is a solution if I really want to use OCAT for FFXV, I wouldn't choose it over FRAPS because with FRAPS I get the overlay without setting the specific game up first.

So as long as the auto hook up doesn't work with all the games, OCAT will probably be used only for DX12 and Vulkan Games, where the FRAPS overlay doesn't work.

[2018-12-05 19:22] Taxxor90 commented on #48
I get the capture file for NMS as well now, maybe it didn't work with the previous version  or I did something wrong.

[2018-12-13 10:45] aurolou commented on #48
Yes, that is the normal behaviour. I do make a note though that it seems to cause some confusion.

[2018-12-13 19:14] Taxxor90 commented on #48
May I ask why this is the case? It seems quite inconvenient to set the folder everytime you start OCAT. My plan was to have it on auto start for overlay and logging.

[2018-12-13 19:14] rys commented on #34
User didn’t follow up with more information after 9 months and we’ve improved compatibility a lot since then. Closing.

[2018-12-13 19:14] #34 closed

[2018-12-13 19:31] #8 closed

[2018-12-13 19:31] #38 closed

[2018-12-13 19:32] rys commented on #14
Uplay incompatibility is a known issue with no workarounds at the time of writing.

[2018-12-13 19:32] #14 closed

[2018-12-13 19:34] rys commented on #15
Game compatibility was much improved in v1.2 and v1.3. If the issue still persists then please open a new issue.

[2018-12-13 19:34] #15 closed

[2018-12-13 19:55] rys opened #50 "Add in-use API to overlay"
Print the current graphics API being used in the overlay.

[2018-12-13 20:16] rys opened #51 "Configurable font color for overlay"

[2018-12-14 08:57] MechWOLLIer opened #52 "Different percentage than just 99th percentile frametimes"
OCAT is showing the 99th percentile of frametimes in the summary file, which is great.
But i would like the possibility to change the percentage itself. For example, i don't want the 99th percentile, but the 95th percentile. Or the 99,5th or the 99,9th percentile.

Of course it's possible to calculate that number myself, you have all the frametimes in the output file. But i think it would be easie

[2018-12-17 14:37] rys commented on #52
We'll add that to the potential feature list for the next milestone review we do in January!

[2018-12-17 14:45] rys opened #53 "Save retargeted output folder location as a persistent setting"
We should keep the user's preference for output folder between runs as a persistent setting.

[2018-12-17 14:46] rys commented on #48
We'll add saving any retargeted folder location to a future release (and note the current behaviour in the documentation until then). Tracked as #53

[2018-12-17 14:55] rys commented on #47
Closing due to `wontfix` because of UPlay.

[2018-12-17 14:55] #47 closed

[2018-12-17 15:54] rys commented on #40
Did that version fix your issue, @brunogm0?

[2018-12-17 15:58] rys commented on #33
Hey @Reedbeta, are you still having this issue? Just doing an OCAT issue review to close out any old stuff that's fixed in the most recent releases. Let us know if we need to keep this one open.

[2018-12-17 15:59] #31 closed

[2018-12-17 15:59] #30 closed

[2018-12-17 16:01] rys commented on #29
Fixed by b12a63b834de5345cc13769461ff41a6702277d3

[2018-12-17 16:01] #29 closed

[2018-12-17 16:02] #28 closed

[2018-12-17 16:02] #23 closed

[2018-12-17 16:03] rys commented on #26
Completely rewritten blacklist handling in 4edb7fa74425e8a22a952f2fb2d83778674db27a

[2018-12-17 16:03] #26 closed

[2018-12-17 16:04] rys commented on #22
Closing due to issue age. Please create a new issue if you're still experiencing issues with game compatibility.

[2018-12-17 16:04] #22 closed

[2018-12-17 16:05] rys commented on #21
Closing due to issue age. Please create a new issue if you're still experiencing issues with game compatibility.

[2018-12-17 16:05] #21 closed

[2018-12-17 16:06] rys commented on #20
Closing due to issue age. Please create a new issue if you're still experiencing issues with game compatibility (this is tested to work OK at the moment).

[2018-12-17 16:06] #20 closed

[2018-12-17 16:06] #19 closed

[2018-12-17 16:06] rys commented on #17
Closing due to issue age. Please create a new issue if you're still experiencing issues with game compatibility.

[2018-12-17 16:06] #17 closed

[2018-12-17 16:07] rys commented on #16
Closing due to issue age. Please create a new issue if you're still experiencing issues with game compatibility.

[2018-12-17 16:07] #16 closed

[2018-12-17 16:19] aurolou commented on #53
Implemented in this [version](https://ci.appveyor.com/api/buildjobs/8tvytl7vax2ucsst/artifacts/OCAT_1.3.0.193.exe).

[2018-12-17 16:19] #53 closed

[2018-12-17 16:19] aurolou commented on #50
Implemented in this [version](https://ci.appveyor.com/api/buildjobs/8tvytl7vax2ucsst/artifacts/OCAT_1.3.0.193.exe).

[2018-12-17 16:19] #50 closed

[2018-12-17 18:46] DevTechProfile commented on #52
@MechWOLLIer: You can use CapFrameX: https://github.com/DevTechProfile/CapFrameX
See L-shape curve chart with different p-quantiles.

[2018-12-17 22:55] rys commented on #52
@DevTechProfile is there anything you need us to do to inform you if we break compatibility with CapFrameX by changing OCAT’s data output format, or are you happy to just track our `dev` branch?

[2018-12-17 23:03] DevTechProfile commented on #52
@rys: No problem. I regularly check your latest version and repository. ^^

[2018-12-18 00:04] Reedbeta commented on #33
Hi @rys, unfortunately with OCAT 1.3.0.189 the stack overflow issue has returned. Same symptoms as in the original post on this issue. With the validation layer enabled, I see a stack overflow inside `vkCreateDevice()` every time I launch my app.

Also, when running my app _without_ the validation layer, I get no overlay. No errors or anything apparently going wrong, just no OCAT overlay. However,

[2018-12-18 00:21] rys commented on #33
Could you share your VkRenderTest.exe binary by any chance, and are you using the launcher or the global overlay hook?

[2018-12-18 01:00] Reedbeta commented on #33
Sure! Here's the binary & support files, in two versions with and without the validation layer. [VkRenderTest.zip](https://github.com/GPUOpen-Tools/OCAT/files/2688418/VkRenderTest.zip)

I'm using the global overlay hook. I just tried invoking through the "Launch App" tab in OCAT as well, and that gives me the "Failed to open dynamic library ... VK_LAYER_OCAT_overlay32.dll" error I mentioned earlie

[2018-12-18 08:00] rys commented on #33
@Reedbeta great, we'll take a look and hopefully repro and have a fix soon!

[2018-12-18 09:43] aurolou commented on #33
Thanks a lot for the sample!
Unfortunately, when I try to run it I get following error:

![image](https://user-images.githubusercontent.com/9432470/50145260-6fd1d400-02b1-11e9-8f1f-6a92dfd38ba8.png)

This happens with both versions and without OCAT attached. I am using VulkanSDK 1.1.92.1.

The "Failed to open dynamic library ... VK_LAYER_OCAT_overlay32.dll" error when launching the app through the

[2018-12-19 05:50] Reedbeta commented on #33
Thanks, and sorry about the error. Try [this one](https://github.com/GPUOpen-Tools/OCAT/files/2693421/VkRenderTest.zip), I've made some changes to descriptor pool sizes (seems NV's driver is not strict about these).

With 1.3.0.194 the "Launch App" tab works and I see the overlay, either with or without the validation layer! 🎉 But when launching through the global hook I still don't get the overla

[2018-12-19 12:11] unqltango opened #54 "Instant OCAT crash"
I just downloaded OCAT and installed it. The install went w/o any problem. When I try to start it, it crashes at once.

https://imgur.com/OVTxpU0

I did not find any information about required Op system. I tried on:

W7 Professional 64
.net FW 4.7.2
GTX 1080Ti, latest driver (actually I just put this in my computer, and wanted to capture some Vulkan gameplay from X4: Foundations)

[2018-12-19 21:00] brunogm0 commented on #40
Sorry, my SSD failed and so i could not test it.

[2018-12-20 12:33] aurolou commented on #54
Thanks for the report. I could repro the issue on a Win7 system. Looking for a solution now :)

[2018-12-20 19:15] DevTechProfile opened #55 "GPU memory clock in system info line in record file is always not set"
Version: 1.3

The error occurs on every system we've tetest.

Example:
"ASUSTeK COMPUTER INC. ROG ZENITH EXTREME","Windows 10 Pro 1803 (OS Build 17134.1.amd64fre.rs4_release.180410-1804)","AMD Ryzen Threadripper 2950X 16-Core Processor ",32 GB DDR4 3266 MT/s,41722,r417_18,1,GeForce GTX 1080 Ti,1569,-,11264

[2018-12-21 03:19] Reedbeta commented on #33
Thanks! Confirmed, in 1.3.0.195 the overlay shows up using the global hook, with no validation layer.

Unfortunately I still see a stack overflow when the validation layer is enabled. The top three stack frames are in the NV driver but then it looks like Vulkan and OCAT are calling each other in some kind of recursive loop.

[code]

These same two calls repeat some thousands of times. :( I've uplo

[2018-12-21 13:06] aurolou commented on #33
Thanks for confirming!
I will look into the stack overflow next year - I still couldn't repro so at this point everything is more of a guess.

Do you have special layer settings on your system? E.g. some environment variables set?

[2019-01-01 22:42] jbmcgee opened #56 "Global Hook Activation Fails"
Haven't been able to successfully get OCAT to work on my system, Win10 x64. Attached are logs for enabling global hook and targeting a DX11 sample application.

[GlobalHook64Log.txt](https://github.com/GPUOpen-Tools/OCAT/files/2719691/GlobalHook64Log.txt)
[GlobalHook32Log.txt](https://github.com/GPUOpen-Tools/OCAT/files/2719692/GlobalHook32Log.txt)
[PresentMonLog.txt](https://github.com/GPUOpen-To

[2019-01-03 08:00] aurolou commented on #56
According to your GlobalHook Logs,

DLL not found (C:\Program Files (x86)\OCAT\Bin\GameOverlay64.dll)

you are missing some dlls. Could you please check if the dll is indeed missing at the above path on your system and if yes, try if reinstalling OCAT solves the problem?

[2019-01-03 12:04] jbmcgee commented on #56
The DLLs seem to be in the folder. I tried reinstalling, however did not resolve the issue.
![screenshot](https://user-images.githubusercontent.com/4747487/50636861-8496a480-0f0c-11e9-9349-823546f076cf.jpg)

[2019-01-03 12:20] aurolou commented on #56
Does the overlay work when you start the sample application from within OCAT? ('Launch app' tab, select executable and press 'start application' button)

[2019-01-03 12:33] jbmcgee commented on #56
Thanks for the help. :)

[2019-01-08 09:52] aurolou commented on #54
Could you please try out this [version](https://ci.appveyor.com/api/buildjobs/m8s1w9gpo39y5udm/artifacts/OCAT_1.3.0.197.exe)? OCAT should be able to start successfully on a Win7 system. Please let me know if it works for you.

[2019-01-08 15:34] aurolou commented on #33
Just a quick update: I was able to reproduce the issue! Investigating now :)

[2019-01-12 11:37] unqltango commented on #54
Hi, sorry for the slow response. I can't even install this version.

[https://imgur.com/a/ZQBZ57V](url)

Log:

[1C40:1C50][2019-01-12T12:29:56]i001: Burn v3.11.0.1701, Windows v6.1 (Build 7601: Service Pack 1), path: C:\Users\Username\AppData\Local\Temp\{8738973D-E611-4EE5-B57C-BDD74474BB22}\.cr\OCAT_1.3.0.197.exe
[1C40:1C50][2019-01-12T12:29:56]i000: Initializing string variable 'InstallFolder' t

[2019-01-24 02:42] Zero3K commented on #54
Here's a log of the crash I am having when using the linked version:

`Application: OCAT.exe
Framework Version: v4.0.30319
Description: The process was terminated due to an unhandled exception.
Exception Info: System.IO.FileLoadException
   at Frontend.MainWindow.OnSourceInitialized(System.EventArgs)
   at System.Windows.Window.CreateSourceWindow(Boolean)
   at System.Windows.Window.ShowHelper(Sys

[2019-01-24 12:15] #55 closed

[2019-01-25 03:22] Zero3K opened #57 "Make it using C/C++ instead of C#"
It would be nice if that could be done so it would reduce its memory and disk space usage.

[2019-01-25 03:27] Zero3K opened #58 "Issue with using it with an emulator"
When I have it showing its overlay in all programs, it causes HPS2x64 (available at https://sourceforge.net/projects/hpsx64/files/Source/v0241/) to not work properly and also causes itself to crash by doing the following:

1. Run OCAT and start the overlay.
1. Open HPS2x64.exe (located in the directory you extracted the archive's contents to).
2. Click File, Load, Bios.

After doing that, the emul

[2019-01-25 21:46] Zero3K commented on #54
I got it to work by recompiling the latest source of the dev branch.

[2019-01-25 22:20] Zero3K commented on #58
That was tried in Windows 7. When I tried doing the same in Windows 10, it doesn't crash but also doesn't display the overlay.

[2019-02-18 15:59] aurolou commented on #58
Hey, I just had a quick look, and it seems like the emulator uses OpenGL for rendering? OCAT does not support the overlay for OpenGL, so it would be expected that it doesn't get displayed.

I haven't tried to run it on Windows 7 yet, though, to check the crash.

[2019-02-27 07:23] MechWOLLIer opened #59 "OCAT logging isn't working at all in Dirt Rally 2.0"
Hi guys,

just tried OCAT in Dirt Rally 2.0 and the tool isn't really working there. While the overlay works fine, the logging isn't working at all. When i press the benchmark button, the tool isn't creating any logging files and isn't even saying that it's recording right now (when you look at the gui). Also, changing the benchmark button isn't helping.

I really use a lot of games with OCAT, but

[2019-02-27 09:03] aurolou commented on #39
A colored bar sequence is added to the overlay, it's included in the latest versions e.g. [here](https://ci.appveyor.com/api/buildjobs/amt47i8m3w866es5/artifacts/OCAT_1.3.204.exe).

[2019-02-27 09:03] #39 closed

[2019-02-27 09:05] aurolou commented on #52
Latest [version](https://ci.appveyor.com/api/buildjobs/amt47i8m3w866es5/artifacts/OCAT_1.3.204.exe) adds  95th and 99.9th-percentile to the performance summary report.

[2019-02-27 16:01] aurolou commented on #59
Hey,
seems like Dirt Rally 2.0 is interfering with the keyboard hooks somehow, also the overlay visibility hotkey doesn't work. If you focus a different application, press the capture hotkey and then focus the game again, it should work though. For ending via hotkey, you need to get out of focus again. If you use a delayed start and let it end automatically after a given time, you should be able t

[2019-02-28 07:46] MechWOLLIer commented on #59
Hi,
thanks for the tip, i will try it!
If the Info helps, the hotkey function in presentmon is working.

[2019-03-02 13:19] bosseyes opened #60 "Huge FPS loss - I just tried OCAT v1.3.0 with some games..."
and my FPS went down from ~80 to ~50 in Witcher 3 (confirmed with AMD overlay)!!!!!!!
First I thought that upgrading my AMD GPU driver from 19.2.2 to 19.2.3 caused some problems...
But then I restarted my PC and started Witcher 3 without any other software - Checking the FPS with AMD overlay = ~80 FPS. After that I only started OCAT and restarted Witcher 3 to get the FPS overlay -> ~50 FPS. Then q

[2019-03-02 13:36] bosseyes commented on #60
wow, I just tried OCAT v1.2.0 and guess what happened? ~25FPS in Witcher 3 wtf...

uninstalled and bye.

[2019-03-02 17:43] MechWOLLIer commented on #60
While i can't confirm the FPS loss with the overlay switched off (and the last past for sure isn't helpfull...), i also have the problem that there are some games, where the overlay is reducing the FPS quite a bit. Elex is such i case and i trhink SotTR too (and there are more games). Funnily it's not always the case, also it isn't the problem from day 1 onwards. Possible that this happend with a

[2019-03-04 09:01] aurolou commented on #60
Hi, thanks for the report. I was able to confirm the FPS drop in Hitman 1 when the overlay was enabled, I will try to check the other games you mentioned as well. Just to be sure ... with "The overlay of OCAT doesn't even have to be active", do you mean the overlay wasn't even enabled within the OCAT UI, or the visibility of the overlay was just toggled off by pressing the hotkey, after the game a

[2019-03-04 16:06] aurolou commented on #60
This [version](https://ci.appveyor.com/api/buildjobs/sdsfdm9am89wm0f2/artifacts/OCAT_1.3.205.exe) should have less impact on the FPS with enabled overlay, at least for Hitman1. I haven't checked the other games yet. Please note that it includes a frame graph and a colored bar overlay, which seem to drop the fps a bit, too.

[2019-03-05 14:34] aurolou commented on #60
I tested the other games, and it seems like the fix helps only for DX11, but not for DX12 yet (Hitman1 as well).

[2019-03-07 09:22] aurolou commented on #60
I spend a bit more time on this, please try this [version](https://ci.appveyor.com/api/buildjobs/ovfih30pmnwm5sf1/artifacts/OCAT_1.3.208.exe). I wouldn't say it's completely without any effect, but the fps drop should be greatly reduced, both on DX11 and DX12. Any further feedback welcome.

[2019-03-07 09:24] aurolou commented on #59
I changed the hotkey mechanism, this [version](https://ci.appveyor.com/api/buildjobs/ovfih30pmnwm5sf1/artifacts/OCAT_1.3.208.exe) should now also have working hotkeys with Dirt Rally 2.0. However, it does own the key exclusively now.

[2019-03-07 09:36] MechWOLLIer commented on #60
I will look into it a bit more next week, but sounds good!

[2019-03-20 16:12] GuestJim opened #62 "Option to Disable Tones for Start and Stop"
Could we get an option to disable the tones when starting and stopping capture?
I definitely see its use and there have been times in the past I wished I had something exactly like this, but I would like it to be an option, for those times I do not want a tone played.

[2019-03-22 17:26] Taxxor90 opened #63 "Hotkeys not working anymore with 1.4"
I've tested the Games Metro Exodus, Kingdom Come and Elex, all work with 1.3.

But only Elex seems to work with 1.4.
I still get the Overlay in all three games, but with Metro and Kingdom Come neither the recording nor the overlay toggle hotkey is doing anything.

[2019-03-23 06:17] aurolou commented on #63
Hi, I will investigate this, thanks for the report. In the meantime my only idea is to try out different hotkeys, if you haven't already done so.

[2019-03-23 07:14] Taxxor90 commented on #63
Yeah I've already tried that.
In addition, the keys I set in OCAT 1.4 also don't work anywhere else as long as the app is running.

I thought my keyboard was broken, when the "p" key didn't do anything. Then I tried "shift+p", which gave me a "P", so the key itself worked.
Searched a good amount of time before realising that OCAT was the Problem. I set "p" as OSD toggle hotkey.
If I set it to "g",

[2019-03-23 07:23] aurolou commented on #63
yes, that's actually the expected behavior, because it's now using the global windows hotkey approach - which owns the key exclusively. We did the change because on some apps the old hotkey approach wasn't working. Why this method isn't working now on some other games, I need to investigate.

[2019-03-27 15:22] MechWOLLIer commented on #63
Just for your information: I have the same problem.
Funnily, it's not the same behaviour on all PCs.
Some Systems i use don't have the problem at all, others have it sometimes, others have it all the time.

Also, it's different from game to game. For example Shadow of the Tomb Raider. With F11, OCAT didn't work at all. Than i changes it to other F-Keys, still not working. Than to "l", it worked fi

[2019-03-30 18:45] Taxxor90 opened #64 "No Hook with Apex Legends"
The auto hook is not working in this game, neither is the exklusive hook.
Overlay is not showing in either case and recording does only work, when "capture performance for all processes" is set.

[2019-03-30 18:46] Taxxor90 commented on #64
Btw: tried with 1.3 and 1.4

[2019-04-01 18:58] Taxxor90 commented on #63
Metro Exodus is another Game me and some others can't bench with 1.4, which was perfectly fine on 1.3

[2019-04-05 11:42] shinodoigt commented on #64
I can confirm: no hook with Apex, tried every settings, no overlay.

[2019-04-09 18:16] Taxxor90 opened #65 "Option to set key combination as Hotkey"
With the new version blocking every key that is set as a hotkey within OCAT:

Is it possible to let us set something like "ALT+P" or "CTRL+Numpad1" as hotkey just like we can do in the MSI Afterburner and FRAPS?
That way I wouldn't have to close OCAT everytime after I did a capture because I might want to use any of the keys I've set there.

[2019-04-10 06:03] aurolou commented on #65
Yes, that's totally possible.

[2019-04-10 06:40] MechWOLLIer commented on #63
Looking forward to give this a try, but it will take some time till i can give feedback

[2019-04-10 10:28] Taxxor90 commented on #63
I can confirm Metro and Kingdom Come are working fine now.

[2019-04-15 13:31] aurolou commented on #63
Great, thanks for confirmation.

[2019-04-15 13:31] #63 closed

[2019-04-17 13:46] #59 closed

[2019-04-17 15:48] aurolou commented on #64
Looks like it's some anti-cheat protection preventing OCAT to work :(

[2019-04-17 15:51] aurolou commented on #62
Added with this [version](https://ci.appveyor.com/api/buildjobs/t3vu7m7aeda387rm/artifacts/OCAT_1.4.225.exe).

[2019-04-17 15:51] #62 closed

[2019-04-17 21:47] GuestJim commented on #62
Thanks! Very much appreciated.

[2019-04-25 15:28] aurolou commented on #65
I added the option to require "ALT+_hotkey_". You can try it out with this [version](https://ci.appveyor.com/api/buildjobs/afx9e34xridootm5/artifacts/OCAT_1.4.227.exe).

[2019-05-02 09:06] rys opened #68 "OCAT 1.4 crashes Talos Principle and Doom under VK on startup"
AMD virtualization team reports that 1.4.216 causes startup crashes in Doom and Talos Principle under Vulkan.

[2019-05-02 12:09] aurolou commented on #68
I was able to reproduce the bug, that Doom or also Strange Brigade Vulkan crashes on launch when OCAT's overlay is hooked in. However, I found a workaround by disabling the SteamFossilizeVulkanLayer (e.g. setting the registry of the layer to 1). In this case, the game was able to start with OCAT's enabled overlay. I am now looking into what SteamFossilizeVulkanLayer does to interfere with the OCAT

[2019-05-09 23:26] petska opened #69 "userBlackList is ignored"
userBlackList.txt is ignored by OCAT (latest OCAT_1.4.216.exe)
after adding apps to defaultBlackList.txt ignoring worked correct.
It will be nice to have an option to disable sound completely and the ability to change min/max Y axis values at frametime overlay.

[2019-05-10 06:38] aurolou commented on #69
Thanks for the report, I will have a look!

Toggling sound on and off was added in this [version](https://ci.appveyor.com/api/buildjobs/t3vu7m7aeda387rm/artifacts/OCAT_1.4.225.exe), it will be part of the next official release.

Also, I will consider your frametime overlay feature request, but can't make any promises at this point.

[2019-05-14 14:18] #65 closed

[2019-05-14 14:20] aurolou opened #73 "frametime overlay scaling"

[2019-05-14 14:21] aurolou commented on #69
This [version](https://ci.appveyor.com/api/buildjobs/ki4nydsq9x4slikg/artifacts/OCAT_1.4.239.exe) should ignore correctly the apps listed in the userBlackList.txt

I opened a new issue (#73) for the frametime overlay request to track it separately.

[2019-05-16 11:21] aurolou commented on #68
This [version](https://ci.appveyor.com/api/buildjobs/6myp6e1a56mn6egd/artifacts/OCAT_1.4.242.exe) should have a working overlay with Vulkan games on Steam - no need to disable any layers anymore :)

[2019-05-16 11:23] aurolou commented on #33
I know it took ages, but the fix for #68 should also solve this issue here (or see this [version](https://ci.appveyor.com/api/buildjobs/6myp6e1a56mn6egd/artifacts/OCAT_1.4.242.exe)).

[2019-05-25 22:52] Reedbeta commented on #33
Awesome! I've confirmed 1.4.242 works with my app either with or without the validation layer. Thanks!

[2019-05-25 22:52] #33 closed

[2019-05-25 22:57] Reedbeta opened #75 ""RegisterHotKey failed" message appears on startup"
When launching OCAT 1.4.242, I receive the popup message:

After clicking through this, the app functions normally, although the Capture hotkey is undefined. (And if I redefine it to something else, the error message no longer appears.)

[2019-05-26 18:20] aurolou commented on #75
Thanks for the report. It should fail completely - I will fix this.

[2019-06-04 14:12] #68 closed

[2019-06-12 09:27] aurolou commented on #75
I should learn reading properly :) I thought capturing still works with F12, even it says Capture hotkey is undefined. The expected behavior is indeed as you described: F12 cannot be used as a hotkey anymore, so an error message will pop up in that case and the hotkey will be undefined. I will add to the message the urge to choose a different hotkey. ALT + F4 will also fail, btw - this is expected

[2019-06-25 15:15] #69 closed

[2019-07-09 11:40] aurolou opened #79 "overlay fails on GTAV"

[2019-07-09 11:41] aurolou commented on #79
A version with a potential fix can be found [here](https://ci.appveyor.com/api/buildjobs/7sby0lg98vrjeo57/artifacts/OCAT_1.5.266.exe).

[2019-07-09 13:40] aurolou commented on #79
Fixed with this [version](https://ci.appveyor.com/api/buildjobs/6imnnu89597w2x2h/artifacts/OCAT_1.5.267.exe).

[2019-07-11 06:38] TheGoddessInari commented on #79
I just noticed this issue after encountering this several days ago.
The linked build build newly worked on BFV and World of Warcraft, but **isn't** working on [Warframe](https://www.warframe.com/).
Warframe traditionally does work with performance monitors/overlays, though.

[2019-07-11 07:09] aurolou commented on #79
Thanks for the report, I will look into Warframe :)

[2019-07-11 14:17] aurolou commented on #79
Overlay on Warframe should work with this [version](https://ci.appveyor.com/api/buildjobs/i92dsoexx3ps9d5j/artifacts/OCAT_1.5.268.exe) as well now!

[2019-07-26 13:03] #79 closed

[2019-10-01 17:09] KillYourFM commented on #35
Please add OCAT support for Linux! This is a valuable tool that would plug a gaping hole in Linux gaming. Especially for people comparing performance between Linux and Windows, which is becoming an important thing to look at post-Proton.

[2020-05-13 07:09] #52 closed

[2020-05-13 07:12] aurolou commented on #60
the overlay can now be disabled during performance capture, which should reduce the overhead. if you still experience overhead issues with this new feature (introduced with version 1.6), please open a new ticket

[2020-05-13 07:12] #60 closed

[2020-05-13 07:13] #75 closed

[2020-05-18 06:44] iPOSEiDON opened #82 "Mouse hotkey support?"
Hello,

I would love to see this having mouse key support,i would preffer having mouse button 4 instead of keyboard as a capture key.

Can it be done ?

Thank you !

[2020-05-18 06:48] aurolou commented on #82
Hi, thanks for the feature request. I see what I can do :)

[2020-05-18 07:04] iPOSEiDON commented on #82
Thanks, one question, can a screenshot function be added as well or is it something completely absurd for this tool to have ?

[2020-05-18 07:08] aurolou commented on #82
You mean a screenshot of the game you are currently profiling?
I wouldn't say it's completely absurd 🤔 I add it to the potential feature list to track it, and we will discuss it internally.

[2020-05-18 07:19] iPOSEiDON commented on #82
Yes, that would be a really nice feature, since this program already has everything else, why not that as well :)

[2020-05-18 07:23] aurolou opened #83 "screenshot function"

[2020-08-13 04:39] YellowOnion commented on #64
Try contacting EasyAntiCheat for them to whitelist OCAT.

[2020-08-26 07:00] dwang040 opened #84 "Some random things I've noticed"
I just recently got OCAT and I've noticed some oddities with the app. I took a look at the documentation and the issues posted here but I have bad memory so apologies if I repeat something/ state a known. I'm currently using a GTX 1080 with Driver V. 452.06.

1. Certain apps freeze/ crash when OCAT is closed - Certain apps such as Brave Browser, Steam (when removed from blacklist), Rockstar Launch

[2020-10-08 23:12] lucaboox opened #85 "Shadowbanned Modern Warfare"
After using this Software to monitor my FPS my MW account got shadowbanned or locked I guess because I can only play with a weird group of people, only happened after using this. I read up about it and people seem to be unbanned after 5 days and it is just weird as hell but I was wondering if anyone knows about this already and or if it was not caused by this somehow. (Some people were blaming the

[2021-03-24 17:41] eetoa opened #86 "Get C2102 - '&' requires l-value - ERROR in: GameOverlay - d3d12_rederer.cpp"
In this function:
[code]
These will cause the error:
`&CD3DX12_HEAP_PROPERTIES(D3D12_HEAP_TYPE_UPLOAD)`
`&CD3DX12_RESOURCE_DESC::Buffer(sizeof(ConstantBuffer))`
`&CD3DX12_HEAP_PROPERTIES(D3D12_HEAP_TYPE_UPLOAD)`
`&CD3DX12_RESOURCE_DESC::Buffer(sizeof(int) * 4)`
Is this due to my vs version ? I'm using vs2019.
Thnx for the project BTW~

[2021-03-24 17:49] aurolou commented on #86
hi! Yes, that's very likely. OCAT is currently built using VS 2017, SDK 10.0.17134.0, and Vulkan SDK 1.2.154.1.
Updating this is on the roadmap, but no ETA yet.

[2021-04-04 18:20] eetoa commented on #86
@aurolou Problem solved, I change vs version to 2017 and VLKAN SDK to the specific version, all error disappear.
And finally, the project was been built, now I'm trying to learn this project.
Thnx for you guys work.

[2021-04-06 07:27] #86 closed

[2021-07-06 02:33] apayen opened #88 "Crash due to improper reference counting"
Hello,

There is a crash caused by OCAT in the game I'm working on when closing the application.
We create a IDXGISwapChain1, then query interfaces for IDXGISwapChain2, IDXGISwapChain3 and IDXGISwapChain4.
After construction, our swapchain thus has 4 references on it.
When destroying, we Release swapchain 2, 3, 4 then 1. The crash happens when attempting to release swapchain 1, because OCAT has al

[2021-08-24 04:31] Leadwerks opened #90 "High overhead"
This tool puts a significant dent in performance when running. I was trying to use it to record some benchmarking numbers and the framerate dropped from about 1000 to 500 by having this program enabled.

[2021-08-24 07:43] aurolou commented on #90
Hi! I would need a bit more information to investigate the problem. Which OCAT version are you running? What are your system specs? On which program did you use OCAT to do benchmarking and what were your OCAT settings? Did you enable the OCAT overlay or just had OCAT running in the background without the overlay hooked into your program?

[2021-09-10 12:54] rys opened #91 "Consider switching from minihook to MSR Detours for API hooking"
Microsoft Research has open sourced their [Detours](https://github.com/microsoft/Detours/wiki/Reference) library for interception and hooking of external library code. OCAT currently uses minihook, which is functional, but Detours might provide better compatibility with applications in situations when minihook's hooking strategy fails.

It's worth investigating it at least, to see if it might prov

[2021-11-05 22:58] powerbroker opened #92 "It must be possible to set install destination"
Installer asks user for some copyrastic stuff, but doesn't allow to set destination. The destination folder option is much more useful and valuable.

[2021-11-11 16:06] aurolou commented on #92
It's already possible to set the destination folder of the installation. When installing, click on Options and set the folder you like.
However, I assume you mean the config and log files? They currently are placed in the Documents folder.

[2021-11-12 07:29] powerbroker commented on #92
you're rigt

[2021-11-12 07:29] #92 closed

[2021-11-13 21:32] Mehdi-HAFID opened #93 "OCAT does not work in Watch Dogs 2"
OCAT does not work in Watch Dogs 2. it does work in Far Cry 5 though.

[2022-01-23 09:16] canyinga opened #94 "与某帧率解锁器同时运行会导致奇怪的问题"
帧率解锁器：https://gitee.com/Euphony_Facetious/genshin-fps-unlock
同时运行会导致部分软件发生错误，闪退（例如edge）如果多次尝试打开edge，则会导致目前运行的所有软件无响应，

[2022-01-24 09:27] canyinga commented on #94
GameOverlay64.dll
该文件会导致wallpaper engine，等软件崩溃

[2022-02-08 02:34] 0450 opened #95 "Overlay not showing for some VULKAN and D3D11 Programs"
Programs used were  liblava_2021_alpha lava triangle (VULKAN) and FFXV Benchmark (D3D11).
Only time the overlay would show on FFXV is when ffxv.exe is launched through OCAT's Launch App instead of the ffxvbench.exe.

[GlobalHook64Log.txt](https://github.com/GPUOpen-Tools/ocat/files/8020241/GlobalHook64Log.txt)
[PresentMonLog.txt](https://github.com/GPUOpen-Tools/ocat/files/8020242/PresentMonLog.tx

[2022-02-21 21:59] coconut009 opened #96 "OCAT will trigger Radeon software UI display corruption"
when OCAT and Radeon both launched, part of the Radeon software UI display will turn transparent and OCAT overlay appears on the Radeon software  UI panel.

After OCAT closed the transparent section still remain on the UI panel
![OCAT Affect Radeon UI Panel (2)](https://user-images.githubusercontent.com/60991595/155030839-983b3bb3-7ce4-4d97-be71-54d50f3bc272.png)
<img width="956" alt="OCAT Affect

[2022-02-22 10:20] aurolou commented on #94
Do you want to hook into the software that crash? Otherwise you can add them to your userDenyList.txt to prevent OCAT from hooking in. For example, if edge causes problems, you should add it to the userDenyList.txt, and see if this solves your problem.

If you want to hook in, just to double check: these are 3d graphics applications?

[2022-02-22 10:22] #90 closed

[2022-03-15 12:42] aurolou commented on #95
FFXV issue with the overlay is a known issue and already listed here: https://ocat.readthedocs.io/en/latest/usage.html#known-issues
The DLL hook is 'too late' to hook into the required functions ... while when launching through OCAT's Launch App, this does not happen. For now, there are no plans to fix this issue as there is a workaround.

I still need to check the laval triangle sample.

[2022-03-15 12:45] #95 closed

[2022-03-15 12:49] aurolou commented on #88
I've made some fixes regarding swapchain reference counting - fixed issues on some games that had troubles with it. I don't know if it fixes the issue for you, but please try the latest OCAT version 1.6.2.
If the issue persist, please open a new issue :) Thanks for your report!

[2022-04-19 08:32] JingYongWang opened #97 "Visualize for images"
Hi

Will OCAT support Save graph to images format(EX: png ).
Default is save a pdf file.

[2022-11-29 16:23] AnimMouse opened #98 "Should install in Program Files not Program Files (x86)"
OCAT is a 64 bit program, it should install in Program Files not in Program Files (x86) by default.